In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
data = pd.read_csv("student_performance.csv")
data.head()

   Hours_Studied  Attendance  Assignment_Score  Midterm_Score  Final_Score
0              1          60                55             50           52
1              2          65                58             55           57
2              3          70                60             58           60
3              4          75                65             62           64
4              5          80                68             65           68

In [4]:
data.isnull().sum()

Hours_Studied       0
Attendance          0
Assignment_Score    0
Midterm_Score       0
Final_Score         0
dtype: int64

In [6]:
X = data.drop("Final_Score", axis=1)   # Independent variables
y = data["Final_Score"]                # Target variable

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [9]:
mlr = LinearRegression()
mlr.fit(X_train, y_train)

y_pred_mlr = mlr.predict(X_test)

In [10]:
lasso = Lasso(alpha=0.1)
lasso.fit(X_train, y_train)

y_pred_lasso = lasso.predict(X_test)

In [11]:
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)

y_pred_ridge = ridge.predict(X_test)

In [12]:
results = pd.DataFrame({
    "Model": ["Multiple Linear", "Lasso", "Ridge"],
    "MSE": [
        mean_squared_error(y_test, y_pred_mlr),
        mean_squared_error(y_test, y_pred_lasso),
        mean_squared_error(y_test, y_pred_ridge)
    ],
    "R2 Score": [
        r2_score(y_test, y_pred_mlr),
        r2_score(y_test, y_pred_lasso),
        r2_score(y_test, y_pred_ridge)
    ]
})

results

             Model       MSE  R2 Score
0  Multiple Linear  0.261277  0.995752
1            Lasso  0.198435  0.996773
2            Ridge  0.220324  0.996417